body{
  background-image: url(../images/password.jpg);
}
.container{
  background-image: url(../images/password.jpg);
  border-style: solid;
  border-color: grey;
  margin-bottom: 5px;
}

button{
  margin-bottom: 25px;
}

textarea{
  text-align: center;
  margin-left: 100px;
  width: 80%;
}